<a href="https://colab.research.google.com/github/Kolexx/Kolexx-FPL-Team-Composition-Performance-Analysis-Data-Extraction-Power-BI-Visualization/blob/main/scripts/FPL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import requests
import pandas as pd
import time

In [ ]:
team_id = '4013862'
history_url = f"https://fantasy.premierleague.com/api/entry/{team_id}/history/"

history_data = requests.get(history_url).json()
history_df = pd.DataFrame(history_data['current'])
history_df.head()

,event,points,total_points,rank,rank_sort,overall_rank,percentile_rank,bank,value,event_transfers,event_transfers_cost,points_on_bench
0,1,42,42,7576260,7635956,7576260,90,0,1000,0,0,0
1,2,95,133,498769,501406,3520163,10,0,1000,2,4,0
2,3,82,215,1107888,1134674,1977827,15,0,1003,0,0,0
3,4,62,273,2148159,2153725,1575231,25,9,1007,3,4,1
4,5,92,361,52665,53516,375837,1,4,1013,2,4,8

In [ ]:
START_GAMEWEEK = 1
END_GAMEWEEK = 26

# Fetch all player data from the FPL API
players_url = "https://fantasy.premierleague.com/api/bootstrap-static/"
players_data = requests.get(players_url).json()
players_df = pd.DataFrame(players_data['elements'])

# Select relevant columns from players data
players_df = players_df[['id', 'web_name']]
players_df.rename(columns={'id': 'element', 'web_name': 'playerName'}, inplace=True)

# Initialize an empty list to store all gameweek data
all_picks = []

for gameweek in range(START_GAMEWEEK, END_GAMEWEEK + 1):
    picks_url = f"https://fantasy.premierleague.com/api/entry/{team_id}/event/{gameweek}/picks/"
    response = requests.get(picks_url)

    if response.status_code == 200:
        picks_data = response.json()
        picks = picks_data.get('picks', [])

        for pick in picks:
            pick['gameweek'] = gameweek  # Add gameweek number to each row
            all_picks.append(pick)
    else:
        print(f"Failed to fetch data for Gameweek {gameweek}")

# Convert the list into a DataFrame
picks_df = pd.DataFrame(all_picks)

# Merge picks_df with players_df to add player names
picks_df = picks_df.merge(players_df, on='element', how='left')

# Display the first few rows
picks_df

,element,position,multiplier,is_captain,is_vice_captain,element_type,gameweek,playerName
0,235,1,1,False,True,1,1,Pickford
1,326,2,1,False,False,2,1,Konaté
2,171,3,1,False,False,2,1,Gusto
3,505,4,1,False,False,2,1,Udogie
4,255,5,1,False,False,2,1,Robinson
...,...,...,...,...,...,...,...,...
385,447,11,1,False,False,4,26,Wood
386,396,12,0,False,False,1,26,Dúbravka
387,159,13,0,False,False,2,26,Chalobah
388,252,14,0,False,False,4,26,Raúl
389,292,15,0,False,False,3,26,Golding

In [ ]:
# Convert to DataFrame
players_df = pd.DataFrame(players_data['elements'])
players_df = players_df[['id', 'web_name', 'element_type', 'now_cost', 'team']]
players_df.rename(columns={'id': 'element'}, inplace=True)

# Fetch team data
teams_df = pd.DataFrame(players_data['teams'])[['id', 'name']]
teams_df.rename(columns={'id': 'team', 'name': 'team_name'}, inplace=True)

# Fetch picks for all gameweeks
all_picks = []

for gameweek in range(START_GAMEWEEK, END_GAMEWEEK + 1):
    picks_url = f"https://fantasy.premierleague.com/api/entry/{team_id}/event/{gameweek}/picks/"
    response = requests.get(picks_url)

    if response.status_code == 200:
        picks_data = response.json()
        picks = picks_data.get('picks', [])

        for pick in picks:
            pick['gameweek'] = gameweek  # Add gameweek number
            all_picks.append(pick)
    else:
        print(f"Failed to fetch data for Gameweek {gameweek}")

# Convert the list into a DataFrame
picks_df = pd.DataFrame(all_picks)

# Extract unique player IDs from your team
unique_player_ids = picks_df['element'].unique()

# Filter players_df to include only your team’s players
my_team_players_df = players_df[players_df['element'].isin(unique_player_ids)]

# Merge to get team names
my_team_players_df = my_team_players_df.merge(teams_df, on='team', how='left')

# Select relevant columns including team_name
my_team_players_df = my_team_players_df[['element', 'web_name', 'element_type', 'now_cost', 'team_name']]

# Display the first few rows
my_team_players_df

    element          web_name  element_type  now_cost      team_name
0         3           Gabriel             2        63        Arsenal
1        99            Mbeumo             3        80      Brentford
2       129        João Pedro             4        54       Brighton
3       148           Welbeck             4        55       Brighton
4       154         Bergström             1        39        Chelsea
5       159          Chalobah             2        44        Chelsea
6       171             Gusto             2        49        Chelsea
7       182            Palmer             3       111        Chelsea
8       185           Sánchez             1        46        Chelsea
9       560              Neto             3        62        Chelsea
10      235          Pickford             1        51        Everton
11      252              Raúl             4        56         Fulham
12      255          Robinson             2        51         Fulham
13      276            Ladapo             4        45        Ipswich
14      286            Cannon             4        45      Leicester
15      292           Golding             3        44      Leicester
16      301             Okoli             2        40      Leicester
17      310          A.Becker             1        55      Liverpool
18      311  Alexander-Arnold             2        74      Liverpool
19      326            Konaté             2        52      Liverpool
20      327         Luis Díaz             3        75      Liverpool
21      328           M.Salah             3       137      Liverpool
22      336        Szoboszlai             3        63      Liverpool
23      351           Haaland             4       147       Man City
24      364              Amad             3        54        Man Utd
25      366       B.Fernandes             3        83        Man Utd
26      369             Dalot             2        50        Man Utd
27      392            Barnes             3        59      Newcastle
28      396          Dúbravka             1        43      Newcastle
29      401              Isak             4        95      Newcastle
30      422              Aina             2        54  Nott'm Forest
31      432            Elanga             3        53  Nott'm Forest
32      447              Wood             4        72  Nott'm Forest
33      505            Udogie             2        48          Spurs
34      514             Bowen             3        73       West Ham
35      521         Fabianski             1        41       West Ham

In [ ]:
# Fetch player data
players_url = "https://fantasy.premierleague.com/api/bootstrap-static/"
response = requests.get(players_url)

if response.status_code != 200:
    raise Exception(f"Error fetching player data: {response.status_code}")

players_data_json = response.json()  # Correct variable name

if "elements" not in players_data_json:
    raise KeyError("Missing 'elements' in players_data_json")  # Extra check

# Correctly map player ID to name
players_data = {player['id']: player['web_name'] for player in players_data_json['elements']}

# Define the gameweeks to check (from GW1 to the latest GW)
gameweeks = list(range(1, 27))
team_id = 4013862  # Replace with your actual FPL team ID

# Create a list to store the data
data = []

for gw in gameweeks:
    # Get your team's picks for the gameweek
    picks_url = f'https://fantasy.premierleague.com/api/entry/{team_id}/event/{gw}/picks/'
    picks_response = requests.get(picks_url)

    if picks_response.status_code != 200:
        print(f"Skipping GW{gw}: Picks data unavailable")
        continue

    picks_data = picks_response.json()

    # Get live player data for the gameweek (to fetch points)
    live_url = f"https://fantasy.premierleague.com/api/event/{gw}/live/"
    live_response = requests.get(live_url)

    if live_response.status_code != 200:
        print(f"Skipping GW{gw}: Live data unavailable")
        continue

    live_data = live_response.json()
    live_stats = {player['id']: player['stats']['total_points'] for player in live_data['elements']}

    for player in picks_data['picks']:
        player_id = player['element']
        player_name = players_data.get(player_id, "Unknown Player")
        player_points = live_stats.get(player_id, 0)
        total_points = player_points * player['multiplier']

        # Check if the player is on the bench (Positions 12-15)
        on_bench = player['position'] >= 12

        # Store data in a list
        data.append([gw, player_name, player_id, player_points, player['multiplier'], total_points, on_bench])

# Create a DataFrame
df = pd.DataFrame(data, columns=["Gameweek", "Player", "Player ID", "Base Points", "Multiplier", "Total Points", "On Bench"])

df

,Gameweek,Player,Player ID,Base Points,Multiplier,Total Points,On Bench
0,1,Pickford,235,1,1,1,False
1,1,Konaté,326,1,1,1,False
2,1,Gusto,171,1,1,1,False
3,1,Udogie,505,2,1,2,False
4,1,Robinson,255,2,1,2,False
...,...,...,...,...,...,...,...
385,26,Wood,447,5,1,5,False
386,26,Dúbravka,396,0,0,0,True
387,26,Chalobah,159,1,0,0,True
388,26,Raúl,252,2,0,0,True
389,26,Golding,292,0,0,0,True

In [ ]:
distinct_players = df["Player ID"].nunique()
print(f"Total distinct players ever owned: {distinct_players}")

Total distinct players ever owned: 36

In [ ]:
# Fetch player data
players_url = "https://fantasy.premierleague.com/api/bootstrap-static/"
response = requests.get(players_url)

if response.status_code != 200:
    raise Exception(f"Error fetching player data: {response.status_code}")

players_data_json = response.json()

if "elements" not in players_data_json:
    raise KeyError("Missing 'elements' in players_data_json")

# Map player ID to name and initial prices
players_data = {player['id']: player['web_name'] for player in players_data_json['elements']}
initial_prices = {player['id']: player['now_cost'] / 10 for player in players_data_json['elements']}  # Ensure this exists

# Fetch transfer history to track bought and sold players
transfers_url = f"https://fantasy.premierleague.com/api/entry/{team_id}/transfers/"
transfers_response = requests.get(transfers_url)

if transfers_response.status_code == 404:
    transfers_data = []
else:
    transfers_data = transfers_response.json()

# Track players sold and their selling price
sold_players = {transfer["element_out"]: transfer["element_out_cost"] / 10 for transfer in transfers_data}

# Fetch initial team data (before Gameweek 1)
initial_team_url = f"https://fantasy.premierleague.com/api/entry/{team_id}/event/1/picks/"
initial_team_response = requests.get(initial_team_url)

if initial_team_response.status_code == 404:
    initial_team_data = []
else:
    initial_team_data = initial_team_response.json().get('picks', [])

# Store players with their buying and selling prices
players_info = []

# Add players from the initial team selection (before GW1)
for player in initial_team_data:
    player_id = player['element']
    buying_price = initial_prices.get(player_id, 0)
    selling_price = sold_players.get(player_id, float('nan'))  # Set to NaN if not sold
    players_info.append((players_data.get(player_id, "Unknown Player"), player_id, buying_price, selling_price, 0))  # 0 for Game Week

# Include any transfers made during the season
for transfer in transfers_data:
    gw = transfer["event"]
    buying_price = transfer.get("element_in_cost", 0) / 10  # Buying price from transfer data
    selling_price = sold_players.get(transfer["element_in"], float('nan'))  # Get selling price if sold
    players_info.append((players_data.get(transfer["element_in"], "Unknown Player"), transfer["element_in"], buying_price, selling_price, gw))

# Create a DataFrame from the players' information
players_df = pd.DataFrame(players_info, columns=["Player", "Player ID", "Buying Price", "Selling Price", "Game Week"])

# Drop duplicates to ensure each player appears only once
df2 = players_df.drop_duplicates(subset=["Player ID"])

# Display the final DataFrame
df2

              Player  Player ID  Buying Price  Selling Price  Game Week
0           Pickford        235           5.1            4.9          0
1             Konaté        326           5.2            5.1          0
2              Gusto        171           4.9            5.0          0
3             Udogie        505           4.8            4.9          0
4           Robinson        255           5.1            NaN          0
5              Bowen        514           7.3            7.5          0
6        B.Fernandes        366           8.3            8.4          0
7             Palmer        182          11.1            NaN          0
8            M.Salah        328          13.7            NaN          0
9            Haaland        351          14.7           14.8          0
10            Ladapo        276           4.5            4.5          0
11         Bergström        154           3.9            4.0          0
12             Okoli        301           4.0            4.0          0
13           Golding        292           4.4            NaN          0
14            Cannon        286           4.5            4.5          0
15            Elanga        432           5.3            NaN         26
16              Wood        447           7.0            NaN         25
17          A.Becker        310           5.5            NaN         25
18              Amad        364           5.5            5.5         22
19          Dúbravka        396           4.2            NaN         21
20           Gabriel          3           6.4            NaN         21
21         Luis Díaz        327           7.6            7.5         21
22  Alexander-Arnold        311           7.1            NaN         19
23            Mbeumo         99           7.6            NaN         19
24              Isak        401           9.0            NaN         19
26        João Pedro        129           5.9            5.5         15
27              Neto        560           6.2            6.2         15
28              Aina        422           4.9            NaN         15
29         Fabianski        521           4.1            4.1         15
30          Chalobah        159           4.4            NaN         10
31           Sánchez        185           4.5            4.6          5
32              Raúl        252           5.4            NaN          5
33            Barnes        392           6.4            6.2          4
35             Dalot        369           5.0            5.0          4
36           Welbeck        148           5.5            5.7          2
37        Szoboszlai        336           6.5            6.5          2

In [ ]:
# API endpoint for gameweek history
url = f'https://fantasy.premierleague.com/api/entry/{team_id}/history/'

try:
    response = requests.get(url)
    response.raise_for_status()  # Raise an error if request fails
    gameweek_data = response.json()
except requests.exceptions.RequestException as e:
    print("Error fetching data:", e)
    exit()

# Extract overall rank for each Gameweek
gameweeks = []
for gameweek in gameweek_data.get('current', []):  # Use .get() to prevent KeyErrors
    gameweeks.append({
        "Gameweek": gameweek['event'],
        "Overall Rank": gameweek['overall_rank']
    })

# Convert to a Pandas DataFrame
history_df = pd.DataFrame(gameweeks)
history_df

    Gameweek  Overall Rank
0          1       7576260
1          2       3520163
2          3       1977827
3          4       1575231
4          5        375837
5          6        226169
6          7        365011
7          8        397136
8          9        657378
9         10        761389
10        11        747984
11        12       1771029
12        13       1668885
13        14       1607117
14        15       1615416
15        16       2153633
16        17       1672124
17        18       1804521
18        19       1322926
19        20        993351
20        21       1387745
21        22       1471966
22        23       1484866
23        24       1839846
24        25       1951511
25        26       1841820

In [ ]:
# Rename 'element' to 'Player ID' in necessary DataFrames
picks_df.rename(columns={"element": "Player ID"}, inplace=True)
my_team_players_df.rename(columns={"element": "Player ID"}, inplace=True)
df.rename(columns={"element": "Player ID"}, inplace=True)
df2.rename(columns={"element": "Player ID"})
picks_df

,Player ID,position,multiplier,is_captain,is_vice_captain,element_type,gameweek
0,235,1,1,False,True,1,1
1,326,2,1,False,False,2,1
2,171,3,1,False,False,2,1
3,505,4,1,False,False,2,1
4,255,5,1,False,False,2,1
...,...,...,...,...,...,...,...
385,447,11,1,False,False,4,26
386,396,12,0,False,False,1,26
387,159,13,0,False,False,2,26
388,252,14,0,False,False,4,26
389,292,15,0,False,False,3,26

In [ ]:
my_team_players_df

    Player ID          web_name  element_type  now_cost      team_name
0           3           Gabriel             2        63        Arsenal
1          99            Mbeumo             3        80      Brentford
2         129        João Pedro             4        54       Brighton
3         148           Welbeck             4        55       Brighton
4         154         Bergström             1        39        Chelsea
5         159          Chalobah             2        44        Chelsea
6         171             Gusto             2        49        Chelsea
7         182            Palmer             3       111        Chelsea
8         185           Sánchez             1        46        Chelsea
9         560              Neto             3        62        Chelsea
10        235          Pickford             1        51        Everton
11        252              Raúl             4        56         Fulham
12        255          Robinson             2        51         Fulham
13        276            Ladapo             4        45        Ipswich
14        286            Cannon             4        45      Leicester
15        292           Golding             3        44      Leicester
16        301             Okoli             2        40      Leicester
17        310          A.Becker             1        55      Liverpool
18        311  Alexander-Arnold             2        74      Liverpool
19        326            Konaté             2        52      Liverpool
20        327         Luis Díaz             3        75      Liverpool
21        328           M.Salah             3       137      Liverpool
22        336        Szoboszlai             3        63      Liverpool
23        351           Haaland             4       147       Man City
24        364              Amad             3        54        Man Utd
25        366       B.Fernandes             3        83        Man Utd
26        369             Dalot             2        50        Man Utd
27        392            Barnes             3        59      Newcastle
28        396          Dúbravka             1        43      Newcastle
29        401              Isak             4        95      Newcastle
30        422              Aina             2        54  Nott'm Forest
31        432            Elanga             3        53  Nott'm Forest
32        447              Wood             4        72  Nott'm Forest
33        505            Udogie             2        48          Spurs
34        514             Bowen             3        73       West Ham
35        521         Fabianski             1        41       West Ham

In [ ]:
df

,Gameweek,Player,Player ID,Base Points,Multiplier,Total Points,On Bench
0,1,Pickford,235,1,1,1,False
1,1,Konaté,326,1,1,1,False
2,1,Gusto,171,1,1,1,False
3,1,Udogie,505,2,1,2,False
4,1,Robinson,255,2,1,2,False
...,...,...,...,...,...,...,...
385,26,Wood,447,5,1,5,False
386,26,Dúbravka,396,0,0,0,True
387,26,Chalobah,159,1,0,0,True
388,26,Raúl,252,2,0,0,True
389,26,Golding,292,0,0,0,True

In [ ]:
df2

              Player  Player ID  Buying Price  Selling Price  Game Week
0           Pickford        235           5.1            4.9          0
1             Konaté        326           5.2            5.1          0
2              Gusto        171           4.9            5.0          0
3             Udogie        505           4.8            4.9          0
4           Robinson        255           5.1            NaN          0
5              Bowen        514           7.3            7.5          0
6        B.Fernandes        366           8.3            8.4          0
7             Palmer        182          11.1            NaN          0
8            M.Salah        328          13.7            NaN          0
9            Haaland        351          14.7           14.8          0
10            Ladapo        276           4.5            4.5          0
11         Bergström        154           3.9            4.0          0
12             Okoli        301           4.0            4.0          0
13           Golding        292           4.4            NaN          0
14            Cannon        286           4.5            4.5          0
15            Elanga        432           5.3            NaN         26
16              Wood        447           7.0            NaN         25
17          A.Becker        310           5.5            NaN         25
18              Amad        364           5.5            5.5         22
19          Dúbravka        396           4.2            NaN         21
20           Gabriel          3           6.4            NaN         21
21         Luis Díaz        327           7.6            7.5         21
22  Alexander-Arnold        311           7.1            NaN         19
23            Mbeumo         99           7.6            NaN         19
24              Isak        401           9.0            NaN         19
26        João Pedro        129           5.9            5.5         15
27              Neto        560           6.2            6.2         15
28              Aina        422           4.9            NaN         15
29         Fabianski        521           4.1            4.1         15
30          Chalobah        159           4.4            NaN         10
31           Sánchez        185           4.5            4.6          5
32              Raúl        252           5.4            NaN          5
33            Barnes        392           6.4            6.2          4
35             Dalot        369           5.0            5.0          4
36           Welbeck        148           5.5            5.7          2
37        Szoboszlai        336           6.5            6.5          2

In [ ]:
# Merge picks_df with my_team_players_df to get position info
merged_df = picks_df.merge(my_team_players_df, on="Player ID", how="left")

merged_df

,Player ID,position,multiplier,is_captain,is_vice_captain,element_type_x,gameweek,web_name,element_type_y,now_cost,team_name
0,235,1,1,False,True,1,1,Pickford,1,51,Everton
1,326,2,1,False,False,2,1,Konaté,2,52,Liverpool
2,171,3,1,False,False,2,1,Gusto,2,49,Chelsea
3,505,4,1,False,False,2,1,Udogie,2,48,Spurs
4,255,5,1,False,False,2,1,Robinson,2,51,Fulham
...,...,...,...,...,...,...,...,...,...,...,...
385,447,11,1,False,False,4,26,Wood,4,72,Nott'm Forest
386,396,12,0,False,False,1,26,Dúbravka,1,43,Newcastle
387,159,13,0,False,False,2,26,Chalobah,2,44,Chelsea
388,252,14,0,False,False,4,26,Raúl,4,56,Fulham
389,292,15,0,False,False,3,26,Golding,3,44,Leicester

In [ ]:
if "Gameweek" in merged_df.columns and "Player ID" in merged_df.columns:
    if "Gameweek" in df.columns and "Player ID" in df.columns:
        merged_df = merged_df.merge(df, on=["Gameweek", "Player ID"], how="left")
    else:
        print("Error: 'Gameweek' or 'Player ID' missing from df")
else:
    print("Error: 'Gameweek' or 'Player ID' missing from merged_df")

Error: 'Gameweek' or 'Player ID' missing from merged_df

In [ ]:
print(merged_df.columns)

Index(['Player ID', 'position', 'multiplier', 'is_captain', 'is_vice_captain',
       'element_type_x', 'gameweek', 'web_name', 'element_type_y', 'now_cost',
       'team_name'],
      dtype='object')

In [ ]:
merged_df.rename(columns={"gameweek": "Gameweek"}, inplace=True)

In [ ]:
merged_df = merged_df.merge(df, on=["Gameweek", "Player ID"], how="left")

In [ ]:
merged_df

,Player ID,position,multiplier,is_captain,is_vice_captain,element_type_x,Gameweek,web_name,element_type_y,now_cost,team_name,Player,Base Points,Multiplier,Total Points,On Bench
0,235,1,1,False,True,1,1,Pickford,1,51,Everton,Pickford,1,1,1,False
1,326,2,1,False,False,2,1,Konaté,2,52,Liverpool,Konaté,1,1,1,False
2,171,3,1,False,False,2,1,Gusto,2,49,Chelsea,Gusto,1,1,1,False
3,505,4,1,False,False,2,1,Udogie,2,48,Spurs,Udogie,2,1,2,False
4,255,5,1,False,False,2,1,Robinson,2,51,Fulham,Robinson,2,1,2,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
385,447,11,1,False,False,4,26,Wood,4,72,Nott'm Forest,Wood,5,1,5,False
386,396,12,0,False,False,1,26,Dúbravka,1,43,Newcastle,Dúbravka,0,0,0,True
387,159,13,0,False,False,2,26,Chalobah,2,44,Chelsea,Chalobah,1,0,0,True
388,252,14,0,False,False,4,26,Raúl,4,56,Fulham,Raúl,2,0,0,True
389,292,15,0,False,False,3,26,Golding,3,44,Leicester,Golding,0,0,0,True

In [ ]:
# Merge with df2 to include price changes
merged_df2 = pd.merge(merged_df, df2, on="Player ID", how="left")
merged_df2

,Player ID,position,multiplier,is_captain,is_vice_captain,element_type_x,Gameweek,web_name,element_type_y,now_cost,team_name,Player_x,Base Points,Multiplier,Total Points,On Bench,Player_y,Buying Price,Selling Price,Game Week
0,235,1,1,False,True,1,1,Pickford,1,51,Everton,Pickford,1,1,1,False,Pickford,5.1,4.9,0
1,326,2,1,False,False,2,1,Konaté,2,52,Liverpool,Konaté,1,1,1,False,Konaté,5.2,5.1,0
2,171,3,1,False,False,2,1,Gusto,2,49,Chelsea,Gusto,1,1,1,False,Gusto,4.9,5.0,0
3,505,4,1,False,False,2,1,Udogie,2,48,Spurs,Udogie,2,1,2,False,Udogie,4.8,4.9,0
4,255,5,1,False,False,2,1,Robinson,2,51,Fulham,Robinson,2,1,2,False,Robinson,5.1,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
385,447,11,1,False,False,4,26,Wood,4,72,Nott'm Forest,Wood,5,1,5,False,Wood,7.0,NaN,25
386,396,12,0,False,False,1,26,Dúbravka,1,43,Newcastle,Dúbravka,0,0,0,True,Dúbravka,4.2,NaN,21
387,159,13,0,False,False,2,26,Chalobah,2,44,Chelsea,Chalobah,1,0,0,True,Chalobah,4.4,NaN,10
388,252,14,0,False,False,4,26,Raúl,4,56,Fulham,Raúl,2,0,0,True,Raúl,5.4,NaN,5
389,292,15,0,False,False,3,26,Golding,3,44,Leicester,Golding,0,0,0,True,Golding,4.4,NaN,0

In [ ]:
# Ensure "Buying Price" exists in merged_df2
if "Buying Price" in merged_df2.columns:
    nan_buying_price = merged_df2[merged_df2["Buying Price"].isna()].drop_duplicates(subset=["Player ID"])
else:
    print("Column 'Buying Price' not found in merged_df2!")

In [ ]:
# Ensure "Buying Price" exists in merged_df2
if "Buying Price" in merged_df2.columns:
    not_nan_buying_price = merged_df2[merged_df2["Buying Price"].notna()].drop_duplicates(subset=["Player ID"])
else:
    print("Column 'Buying Price' not found in merged_df2!")
not_nan_buying_price

,Player ID,position,multiplier,is_captain,is_vice_captain,element_type_x,Gameweek,web_name,element_type_y,now_cost,team_name,Player_x,Base Points,Multiplier,Total Points,On Bench,Player_y,Buying Price,Selling Price,Game Week
0,235,1,1,False,True,1,1,Pickford,1,51,Everton,Pickford,1,1,1,False,Pickford,5.1,4.9,0
1,326,2,1,False,False,2,1,Konaté,2,52,Liverpool,Konaté,1,1,1,False,Konaté,5.2,5.1,0
2,171,3,1,False,False,2,1,Gusto,2,49,Chelsea,Gusto,1,1,1,False,Gusto,4.9,5.0,0
3,505,4,1,False,False,2,1,Udogie,2,48,Spurs,Udogie,2,1,2,False,Udogie,4.8,4.9,0
4,255,5,1,False,False,2,1,Robinson,2,51,Fulham,Robinson,2,1,2,False,Robinson,5.1,NaN,0
5,514,6,1,False,False,3,1,Bowen,3,73,West Ham,Bowen,2,1,2,False,Bowen,7.3,7.5,0
6,366,7,1,False,False,3,1,B.Fernandes,3,83,Man Utd,B.Fernandes,3,1,3,False,B.Fernandes,8.3,8.4,0
7,182,8,1,False,False,3,1,Palmer,3,111,Chelsea,Palmer,2,1,2,False,Palmer,11.1,NaN,0
8,328,9,1,False,False,3,1,M.Salah,3,137,Liverpool,M.Salah,14,1,14,False,M.Salah,13.7,NaN,0
9,351,10,2,True,False,4,1,Haaland,4,147,Man City,Haaland,7,2,14,False,Haaland,14.7,14.8,0
10,276,11,1,False,False,4,1,Ladapo,4,45,Ipswich,Ladapo,0,1,0,False,Ladapo,4.5,4.5,0
11,154,12,0,False,False,1,1,Bergström,1,39,Chelsea,Bergström,0,0,0,True,Bergström,3.9,4.0,0
12,301,13,0,False,False,2,1,Okoli,2,40,Leicester,Okoli,0,0,0,True,Okoli,4.0,4.0,0
13,292,14,0,False,False,3,1,Golding,3,44,Leicester,Golding,0,0,0,True,Golding,4.4,NaN,0
14,286,15,0,False,False,4,1,Cannon,4,45,Leicester,Cannon,0,0,0,True,Cannon,4.5,4.5,0
20,336,6,1,False,False,3,2,Szoboszlai,3,63,Liverpool,Szoboszlai,2,1,2,False,Szoboszlai,6.5,6.5,2
25,148,11,1,False,False,4,2,Welbeck,4,55,Brighton,Welbeck,9,1,9,False,Welbeck,5.5,5.7,2
47,369,3,1,False,False,2,4,Dalot,2,50,Man Utd,Dalot,11,1,11,False,Dalot,5.0,5.0,4
50,392,6,1,False,False,3,4,Barnes,3,59,Newcastle,Barnes,8,1,8,False,Barnes,6.4,6.2,4
51,327,7,1,False,False,3,4,Luis Díaz,3,75,Liverpool,Luis Díaz,3,1,3,False,Luis Díaz,7.6,7.5,21
60,185,1,1,False,False,1,5,Sánchez,1,46,Chelsea,Sánchez,10,1,10,False,Sánchez,4.5,4.6,5
74,252,15,0,False,False,4,5,Raúl,4,56,Fulham,Raúl,6,0,0,True,Raúl,5.4,NaN,5
136,159,2,1,False,False,2,10,Chalobah,2,44,Chelsea,Chalobah,7,1,7,False,Chalobah,4.4,NaN,10
211,422,2,1,False,False,2,15,Aina,2,54,Nott'm Forest,Aina,1,1,1,False,Aina,4.9,NaN,15
216,560,7,1,False,False,3,15,Neto,3,62,Chelsea,Neto,1,1,1,False,Neto,6.2,6.2,15
218,129,9,1,False,False,4,15,João Pedro,4,54,Brighton,João Pedro,2,1,2,False,João Pedro,5.9,5.5,15
221,521,12,0,False,False,1,15,Fabianski,1,41,West Ham,Fabianski,2,0,0,True,Fabianski,4.1,4.1,15
271,311,2,1,False,False,2,19,Alexander-Arnold,2,74,Liverpool,Alexander-Arnold,15,1,15,False,Alexander-Arnold,7.1,NaN,19
278,99,9,1,False,False,3,19,Mbeumo,3,80,Brentford,Mbeumo,7,1,7,False,Mbeumo,7.6,NaN,19
279,401,10,1,False,True,4,19,Isak,4,95,Newcastle,Isak,7,1,7,False,Isak,9.0,NaN,19
302,3,3,1,False,False,2,21,Gabriel,2,63,Arsenal,Gabriel,1,1,1,False,Gabriel,6.4,NaN,21
311,396,12,0,False,False,1,21,Dúbravka,1,43,Newcastle,Dúbravka,10,0,0,True,Dúbravka,4.2,NaN,21
320,364,6,1,False,False,3,22,Amad,3,54,Man Utd,Amad,2,1,2,False,Amad,5.5,5.5,22
360,310,1,1,False,False,1,25,A.Becker,1,55,Liverpool,A.Becker,4,1,4,False,A.Becker,5.5,NaN,25
369,447,10,1,False,False,4,25,Wood,4,72,Nott'm Forest,Wood,9,1,9,False,Wood,7.0,NaN,25
380,432,6,1,False,False,3,26,Elanga,3,53,Nott'm Forest,Elanga,2,1,2,False,Elanga,5.3,NaN,26

In [ ]:
distinct_players1 = nan_buying_price["Player ID"].nunique()
print(f"Total distinct players ever owned: {distinct_players1}")
distinct_players2 = not_nan_buying_price["Player ID"].nunique()
print(f"Total distinct players ever owned: {distinct_players2}")

Total distinct players ever owned: 0
Total distinct players ever owned: 36

In [ ]:
# Merge merged_df2 with history_df on "Gameweek"
final_df = merged_df2.merge(history_df, on="Gameweek", how="left")

# Display final DataFrame
final_df

,Player ID,position,multiplier,is_captain,is_vice_captain,element_type_x,Gameweek,web_name,element_type_y,now_cost,team_name,Player_x,Base Points,Multiplier,Total Points,On Bench,Player_y,Buying Price,Selling Price,Game Week,Overall Rank
0,235,1,1,False,True,1,1,Pickford,1,51,Everton,Pickford,1,1,1,False,Pickford,5.10,4.90,0,7576260
1,326,2,1,False,False,2,1,Konaté,2,52,Liverpool,Konaté,1,1,1,False,Konaté,5.20,5.10,0,7576260
2,171,3,1,False,False,2,1,Gusto,2,49,Chelsea,Gusto,1,1,1,False,Gusto,4.90,5.00,0,7576260
3,505,4,1,False,False,2,1,Udogie,2,48,Spurs,Udogie,2,1,2,False,Udogie,4.80,4.90,0,7576260
4,255,5,1,False,False,2,1,Robinson,2,51,Fulham,Robinson,2,1,2,False,Robinson,5.10,NaN,0,7576260
5,514,6,1,False,False,3,1,Bowen,3,73,West Ham,Bowen,2,1,2,False,Bowen,7.30,7.50,0,7576260
6,366,7,1,False,False,3,1,B.Fernandes,3,83,Man Utd,B.Fernandes,3,1,3,False,B.Fernandes,8.30,8.40,0,7576260
7,182,8,1,False,False,3,1,Palmer,3,111,Chelsea,Palmer,2,1,2,False,Palmer,11.10,NaN,0,7576260
8,328,9,1,False,False,3,1,M.Salah,3,137,Liverpool,M.Salah,14,1,14,False,M.Salah,13.70,NaN,0,7576260
9,351,10,2,True,False,4,1,Haaland,4,147,Man City,Haaland,7,2,14,False,Haaland,14.70,14.80,0,7576260
10,276,11,1,False,False,4,1,Ladapo,4,45,Ipswich,Ladapo,0,1,0,False,Ladapo,4.50,4.50,0,7576260
11,154,12,0,False,False,1,1,Bergström,1,39,Chelsea,Bergström,0,0,0,True,Bergström,3.90,4.00,0,7576260
12,301,13,0,False,False,2,1,Okoli,2,40,Leicester,Okoli,0,0,0,True,Okoli,4.00,4.00,0,7576260
13,292,14,0,False,False,3,1,Golding,3,44,Leicester,Golding,0,0,0,True,Golding,4.40,NaN,0,7576260
14,286,15,0,False,False,4,1,Cannon,4,45,Leicester,Cannon,0,0,0,True,Cannon,4.50,4.50,0,7576260
15,235,1,1,False,True,1,2,Pickford,1,51,Everton,Pickford,1,1,1,False,Pickford,5.10,4.90,0,3520163
16,326,2,1,False,False,2,2,Konaté,2,52,Liverpool,Konaté,7,1,7,False,Konaté,5.20,5.10,0,3520163
17,171,3,1,False,False,2,2,Gusto,2,49,Chelsea,Gusto,0,1,0,False,Gusto,4.90,5.00,0,3520163
18,505,4,1,False,False,2,2,Udogie,2,48,Spurs,Udogie,6,1,6,False,Udogie,4.80,4.90,0,3520163
19,255,5,1,False,False,2,2,Robinson,2,51,Fulham,Robinson,7,1,7,False,Robinson,5.10,NaN,0,3520163
20,336,6,1,False,False,3,2,Szoboszlai,3,63,Liverpool,Szoboszlai,2,1,2,False,Szoboszlai,6.50,6.50,2,3520163
21,366,7,1,False,False,3,2,B.Fernandes,3,83,Man Utd,B.Fernandes,2,1,2,False,B.Fernandes,8.30,8.40,0,3520163
22,182,8,1,False,False,3,2,Palmer,3,111,Chelsea,Palmer,17,1,17,False,Palmer,11.10,NaN,0,3520163
23,328,9,1,False,False,3,2,M.Salah,3,137,Liverpool,M.Salah,10,1,10,False,M.Salah,13.70,NaN,0,3520163
24,351,10,2,True,False,4,2,Haaland,4,147,Man City,Haaland,17,2,34,False,Haaland,14.70,14.80,0,3520163
25,148,11,1,False,False,4,2,Welbeck,4,55,Brighton,Welbeck,9,1,9,False,Welbeck,5.50,5.70,2,3520163
26,154,12,0,False,False,1,2,Bergström,1,39,Chelsea,Bergström,0,0,0,True,Bergström,3.90,4.00,0,3520163
27,301,13,0,False,False,2,2,Okoli,2,40,Leicester,Okoli,0,0,0,True,Okoli,4.00,4.00,0,3520163
28,292,14,0,False,False,3,2,Golding,3,44,Leicester,Golding,0,0,0,True,Golding,4.40,NaN,0,3520163
29,286,15,0,False,False,4,2,Cannon,4,45,Leicester,Cannon,0,0,0,True,Cannon,4.50,4.50,0,3520163
30,235,1,1,False,True,1,3,Pickford,1,51,Everton,Pickford,2,1,2,False,Pickford,5.10,4.90,0,1977827
31,326,2,1,False,False,2,3,Konaté,2,52,Liverpool,Konaté,6,1,6,False,Konaté,5.20,5.10,0,1977827
32,171,3,1,False,False,2,3,Gusto,2,49,Chelsea,Gusto,2,1,2,False,Gusto,4.90,5.00,0,1977827
33,505,4,1,False,False,2,3,Udogie,2,48,Spurs,Udogie,1,1,1,False,Udogie,4.80,4.90,0,1977827
34,255,5,1,False,False,2,3,Robinson,2,51,Fulham,Robinson,4,1,4,False,Robinson,5.10,NaN,0,1977827
35,336,6,1,False,False,3,3,Szoboszlai,3,63,Liverpool,Szoboszlai,6,1,6,False,Szoboszlai,6.50,6.50,2,1977827
36,366,7,1,False,False,3,3,B.Fernandes,3,83,Man Utd,B.Fernandes,2,1,2,False,B.Fernandes,8.30,8.40,0,1977827
37,182,8,1,False,False,3,3,Palmer,3,111,Chelsea,Palmer,6,1,6,False,Palmer,11.10,NaN,0,1977827
38,328,9,1,False,False,3,3,M.Salah,3,137,Liverpool,M.Salah,17,1,17,False,M.Salah,13.70,NaN,0,1977827
39,351,10,2,True,False,4,3,Haaland,4,147,Man City,Haaland,17,2,34,False,Haaland,14.70,14.80,0,1977827
40,148,11,1,False,False,4,3,Welbeck,4,55,Brighton,Welbeck,2,1,2,False,Welbeck,5.50,5.70,2,1977827
41,154,12,0,False,False,1,3,Bergström,1,39,Chelsea,Bergström,0,0,0,True,Bergström,3.90,4.00,0,1977827
42,301,13,0,False,False,2,3,Okoli,2,40,Leicester,Okoli,0,0,0,True,Okoli,4.00,4.00,0,1977827
43,292,14,0,False,False,3,3,Golding,3,44,Leicester,Golding,0,0,0,True,Golding,4.40,NaN,0,1977827
44,286,15,0,False,False,4,3,Cannon,4,45,Leicester,Cannon,0,0,0,True,Cannon,4.50,4.50,0,1977827
45,235,1,1,False,True,1,4,Pickford,1,51,Everton,Pickford,2,1,2,False,Pickford,5.10,4.90,0,1575231
46,326,2,1,False,False,2,4,Konaté,2,52,Liverpool,Konaté,2,1,2,False,Konaté,5.20,5.10,0,1575231
47,369,3,1,False,False,2,4,Dalot,2,50,Man Utd,Dalot,11,1,11,False,Dalot,5.00,5.00,4,1575231
48,505,4,1,False,False,2,4,Udogie,2,48,Spurs,Udogie,1,1,1,False,Udogie,4.80,4.90,0,1575231
49,255,5,1,False,False,2,4,Robinson,2,51,Fulham,Robinson,2,1,2,False,Robinson,5.10,NaN,0,1575231
50,392,6,1,False,False,3,4,Barnes,3,59,Newcastle,Barnes,8,1,8,False,Barnes,6.40,6.20,4,1575231
51,327,7,1,False,False,3,4,Luis Díaz,3,75,Liverpool,Luis Díaz,3,1,3,False,Luis Díaz,7.60,7.50,21,1575231
52,182,8,1,False,False,3,4,Palmer,3,111,Chelsea,Palmer,3,1,3,False,Palmer,11.10,NaN,0,1575231
53,328,9,1,False,False,3,4,M.Salah,3,137,Liverpool,M.Salah,2,1,2,False,M.Salah,13.70,NaN,0,1575231
54,351,10,2,True,False,4,4,Haaland,4,147,Man City,Haaland,13,2,26,False,Haaland,14.70,14.80,0,1575231
55,148,11,1,False,False,4,4,Welbeck,4,55,Brighton,Welbeck,2,1,2,False,Welbeck,5.50,5.70,2,1575231
56,154,12,0,False,False,1,4,Bergström,1,39,Chelsea,Bergström,0,0,0,True,Bergström,3.90,4.00,0,1575231
57,301,13,0,False,False,2,4,Okoli,2,40,Leicester,Okoli,1,0,0,True,Okoli,4.00,4.00,0,1575231
58,292,14,0,False,False,3,4,Golding,3,44,Leicester,Golding,0,0,0,True,Golding,4.40,NaN,0,1575231
59,286,15,0,False,False,4,4,Cannon,4,45,Leicester,Cannon,0,0,0,True,Cannon,4.50,4.50,0,1575231
60,185,1,1,False,False,1,5,Sánchez,1,46,Chelsea,Sánchez,10,1,10,False,Sánchez,4.50,4.60,5,375837
61,326,2,1,False,False,2,5,Konaté,2,52,Liverpool,Konaté,8,1,8,False,Konaté,5.20,5.10,0,375837
62,369,3,1,False,False,2,5,Dalot,2,50,Man Utd,Dalot,9,1,9,False,Dalot,5.00,5.00,4,375837
63,505,4,1,False,False,2,5,Udogie,2,48,Spurs,Udogie,2,1,2,False,Udogie,4.80,4.90,0,375837
64,255,5,1,False,False,2,5,Robinson,2,51,Fulham,Robinson,2,1,2,False,Robinson,5.10,NaN,0,375837
65,392,6,1,False,False,3,5,Barnes,3,59,Newcastle,Barnes,10,1,10,False,Barnes,6.40,6.20,4,375837
66,327,7,1,False,False,3,5,Luis Díaz,3,75,Liverpool,Luis Díaz,16,1,16,False,Luis Díaz,7.60,7.50,21,375837
67,182,8,1,False,False,3,5,Palmer,3,111,Chelsea,Palmer,8,1,8,False,Palmer,11.10,NaN,0,375837
68,328,9,2,True,False,3,5,M.Salah,3,137,Liverpool,M.Salah,6,2,12,False,M.Salah,13.70,NaN,0,375837
69,148,10,1,False,False,4,5,Welbeck,4,55,Brighton,Welbeck,6,1,6,False,Welbeck,5.50,5.70,2,375837
70,351,11,1,False,True,4,5,Haaland,4,147,Man City,Haaland,9,1,9,False,Haaland,14.70,14.80,0,375837
71,154,12,0,False,False,1,5,Bergström,1,39,Chelsea,Bergström,0,0,0,True,Bergström,3.90,4.00,0,375837
72,301,13,0,False,False,2,5,Okoli,2,40,Leicester,Okoli,2,0,0,True,Okoli,4.00,4.00,0,375837
73,292,14,0,False,False,3,5,Golding,3,44,Leicester,Golding,0,0,0,True,Golding,4.40,NaN,0,375837
74,252,15,0,False,False,4,5,Raúl,4,56,Fulham,Raúl,6,0,0,True,Raúl,5.40,NaN,5,375837
75,185,1,1,False,False,1,6,Sánchez,1,46,Chelsea,Sánchez,2,1,2,False,Sánchez,4.50,4.60,5,226169
76,326,2,1,False,False,2,6,Konaté,2,52,Liverpool,Konaté,7,1,7,False,Konaté,5.20,5.10,0,226169
77,369,3,1,False,False,2,6,Dalot,2,50,Man Utd,Dalot,0,1,0,False,Dalot,5.00,5.00,4,226169
78,505,4,1,False,False,2,6,Udogie,2,48,Spurs,Udogie,1,1,1,False,Udogie,4.80,4.90,0,226169
79,255,5,1,False,False,2,6,Robinson,2,51,Fulham,Robinson,7,1,7,False,Robinson,5.10,NaN,0,226169
80,392,6,1,False,False,3,6,Barnes,3,59,Newcastle,Barnes,2,1,2,False,Barnes,6.40,6.20,4,226169
81,327,7,1,False,False,3,6,Luis Díaz,3,75,Liverpool,Luis Díaz,2,1,2,False,Luis Díaz,7.60,7.50,21,226169
82,182,8,1,False,False,3,6,Palmer,3,111,Chelsea,Palmer,25,1,25,False,Palmer,11.10,NaN,0,226169
83,328,9,1,False,True,3,6,M.Salah,3,137,Liverpool,M.Salah,10,1,10,False,M.Salah,13.70,NaN,0,226169
84,148,10,1,False,False,4,6,Welbeck,4,55,Brighton,Welbeck,2,1,2,False,Welbeck,5.50,5.70,2,226169
85,351,11,2,True,False,4,6,Haaland,4,147,Man City,Haaland,2,2,4,False,Haaland,14.70,14.80,0,226169
86,154,12,0,False,False,1,6,Bergström,1,39,Chelsea,Bergström,0,0,0,True,Bergström,3.90,4.00,0,226169
87,301,13,0,False,False,2,6,Okoli,2,40,Leicester,Okoli,1,0,0,True,Okoli,4.00,4.00,0,226169
88,292,14,0,False,False,3,6,Golding,3,44,Leicester,Golding,0,0,0,True,Golding,4.40,NaN,0,226169
89,252,15,0,False,False,4,6,Raúl,4,56,Fulham,Raúl,9,0,0,True,Raúl,5.40,NaN,5,226169
90,185,1,1,False,False,1,7,Sánchez,1,46,Chelsea,Sánchez,4,1,4,False,Sánchez,4.50,4.60,5,365011
91,326,2,1,False,False,2,7,Konaté,2,52,Liverpool,Konaté,6,1,6,False,Konaté,5.20,5.10,0,365011
92,369,3,1,False,False,2,7,Dalot,2,50,Man Utd,Dalot,6,1,6,False,Dalot,5.00,5.00,4,365011
93,505,4,1,False,False,2,7,Udogie,2,48,Spurs,Udogie,0,1,0,False,Udogie,4.80,4.90,0,365011
94,255,5,1,False,False,2,7,Robinson,2,51,Fulham,Robinson,1,1,1,False,Robinson,5.10,NaN,0,365011
95,392,6,1,False,False,3,7,Barnes,3,59,Newcastle,Barnes,3,1,3,False,Barnes,6.40,6.20,4,365011
96,327,7,1,False,False,3,7,Luis Díaz,3,75,Liverpool,Luis Díaz,1,1,1,False,Luis Díaz,7.60,7.50,21,365011
97,182,8,1,False,False,3,7,Palmer,3,111,Chelsea,Palmer,6,1,6,False,Palmer,11.10,NaN,0,365011
98,328,9,1,False,True,3,7,M.Salah,3,137,Liverpool,M.Salah,3,1,3,False,M.Salah,13.70,NaN,0,365011
99,148,10,1,False,False,4,7,Welbeck,4,55,Brighton,Welbeck,8,1,8,False,Welbeck,5.50,5.70,2,365011
100,351,11,2,True,False,4,7,Haaland,4,147,Man City,Haaland,2,2,4,False,Haaland,14.70,14.80,0,365011
101,154,12,0,False,False,1,7,Bergström,1,39,Chelsea,Bergström,0,0,0,True,Bergström,3.90,4.00,0,365011
102,301,13,0,False,False,2,7,Okoli,2,40,Leicester,Okoli,7,0,0,True,Okoli,4.00,4.00,0,365011
103,292,14,0,False,False,3,7,Golding,3,44,Leicester,Golding,0,0,0,True,Golding,4.40,NaN,0,365011
104,252,15,0,False,False,4,7,Raúl,4,56,Fulham,Raúl,5,0,0,True,Raúl,5.40,NaN,5,365011
105,185,1,1,False,False,1,8,Sánchez,1,46,Chelsea,Sánchez,2,1,2,False,Sánchez,4.50,4.60,5,397136
106,301,2,1,False,False,2,8,Okoli,2,40,Leicester,Okoli,1,1,1,False,Okoli,4.00,4.00,0,397136
107,369,3,1,False,False,2,8,Dalot,2,50,Man Utd,Dalot,1,1,1,False,Dalot,5.00,5.00,4,397136
108,505,4,1,False,False,2,8,Udogie,2,48,Spurs,Udogie,5,1,5,False,Udogie,4.80,4.90,0,397136
109,255,5,1,False,False,2,8,Robinson,2,51,Fulham,Robinson,1,1,1,False,Robinson,5.10,NaN,0,397136
110,392,6,1,False,False,3,8,Barnes,3,59,Newcastle,Barnes,1,1,1,False,Barnes,6.40,6.20,4,397136
111,327,7,1,False,False,3,8,Luis Díaz,3,75,Liverpool,Luis Díaz,1,1,1,False,Luis Díaz,7.60,7.50,21,397136
112,182,8,1,False,False,3,8,Palmer,3,111,Chelsea,Palmer,2,1,2,False,Palmer,11.10,NaN,0,397136
113,328,9,1,False,True,3,8,M.Salah,3,137,Liverpool,M.Salah,12,1,12,False,M.Salah,13.70,NaN,0,397136
114,148,10,1,False,False,4,8,Welbeck,4,55,Brighton,Welbeck,9,1,9,False,Welbeck,5.50,5.70,2,397136
115,351,11,2,True,False,4,8,Haaland,4,147,Man City,Haaland,2,2,4,False,Haaland,14.70,14.80,0,397136
116,154,12,0,False,False,1,8,Bergström,1,39,Chelsea,Bergström,0,0,0,True,Bergström,3.90,4.00,0,397136
117,326,13,0,False,False,2,8,Konaté,2,52,Liverpool,Konaté,1,0,0,True,Konaté,5.20,5.10,0,397136
118,292,14,0,False,False,3,8,Golding,3,44,Leicester,Golding,0,0,0,True,Golding,4.40,NaN,0,397136
119,252,15,0,False,False,4,8,Raúl,4,56,Fulham,Raúl,7,0,0,True,Raúl,5.40,NaN,5,397136
120,185,1,1,False,False,1,9,Sánchez,1,46,Chelsea,Sánchez,1,1,1,False,Sánchez,4.50,4.60,5,657378
121,301,2,1,False,False,2,9,Okoli,2,40,Leicester,Okoli,1,1,1,False,Okoli,4.00,4.00,0,657378
122,369,3,1,False,False,2,9,Dalot,2,50,Man Utd,Dalot,1,1,1,False,Dalot,5.00,5.00,4,657378
123,505,4,1,False,False,2,9,Udogie,2,48,Spurs,Udogie,2,1,2,False,Udogie,4.80,4.90,0,657378
124,255,5,1,False,False,2,9,Robinson,2,51,Fulham,Robinson,2,1,2,False,Robinson,5.10,NaN,0,657378
125,392,6,1,False,False,3,9,Barnes,3,59,Newcastle,Barnes,2,1,2,False,Barnes,6.40,6.20,4,657378
126,327,7,1,False,False,3,9,Luis Díaz,3,75,Liverpool,Luis Díaz,5,1,5,False,Luis Díaz,7.60,7.50,21,657378
127,182,8,1,False,False,3,9,Palmer,3,111,Chelsea,Palmer,10,1,10,False,Palmer,11.10,NaN,0,657378
128,328,9,1,False,True,3,9,M.Salah,3,137,Liverpool,M.Salah,10,1,10,False,M.Salah,13.70,NaN,0,657378
129,148,10,1,False,False,4,9,Welbeck,4,55,Brighton,Welbeck,7,1,7,False,Welbeck,5.50,5.70,2,657378
130,351,11,2,True,False,4,9,Haaland,4,147,Man City,Haaland,6,2,12,False,Haaland,14.70,14.80,0,657378
131,154,12,0,False,False,1,9,Bergström,1,39,Chelsea,Bergström,0,0,0,True,Bergström,3.90,4.00,0,657378
132,326,13,0,False,False,2,9,Konaté,2,52,Liverpool,Konaté,1,0,0,True,Konaté,5.20,5.10,0,657378
133,292,14,0,False,False,3,9,Golding,3,44,Leicester,Golding,0,0,0,True,Golding,4.40,NaN,0,657378
134,252,15,0,False,False,4,9,Raúl,4,56,Fulham,Raúl,2,0,0,True,Raúl,5.40,NaN,5,657378
135,185,1,1,False,False,1,10,Sánchez,1,46,Chelsea,Sánchez,3,1,3,False,Sánchez,4.50,4.60,5,761389
136,159,2,1,False,False,2,10,Chalobah,2,44,Chelsea,Chalobah,7,1,7,False,Chalobah,4.40,NaN,10,761389
137,326,3,1,False,False,2,10,Konaté,2,52,Liverpool,Konaté,1,1,1,False,Konaté,5.20,5.10,0,761389
138,255,4,1,False,False,2,10,Robinson,2,51,Fulham,Robinson,6,1,6,False,Robinson,5.10,NaN,0,761389
139,392,5,1,False,False,3,10,Barnes,3,59,Newcastle,Barnes,1,1,1,False,Barnes,6.40,6.20,4,761389
140,327,6,1,False,False,3,10,Luis Díaz,3,75,Liverpool,Luis Díaz,1,1,1,False,Luis Díaz,7.60,7.50,21,761389
141,182,7,1,False,False,3,10,Palmer,3,111,Chelsea,Palmer,3,1,3,False,Palmer,11.10,NaN,0,761389
142,328,8,1,False,True,3,10,M.Salah,3,137,Liverpool,M.Salah,9,1,9,False,M.Salah,13.70,NaN,0,761389
143,252,9,1,False,False,4,10,Raúl,4,56,Fulham,Raúl,2,1,2,False,Raúl,5.40,NaN,5,761389
144,351,10,2,True,False,4,10,Haaland,4,147,Man City,Haaland,2,2,4,False,Haaland,14.70,14.80,0,761389
145,148,11,1,False,False,4,10,Welbeck,4,55,Brighton,Welbeck,5,1,5,False,Welbeck,5.50,5.70,2,761389
146,154,12,0,False,False,1,10,Bergström,1,39,Chelsea,Bergström,0,0,0,True,Bergström,3.90,4.00,0,761389
147,505,13,0,False,False,2,10,Udogie,2,48,Spurs,Udogie,2,0,0,True,Udogie,4.80,4.90,0,761389
148,369,14,0,False,False,2,10,Dalot,2,50,Man Utd,Dalot,1,0,0,True,Dalot,5.00,5.00,4,761389
149,292,15,0,False,False,3,10,Golding,3,44,Leicester,Golding,0,0,0,True,Golding,4.40,NaN,0,761389
150,185,1,1,False,False,1,11,Sánchez,1,46,Chelsea,Sánchez,2,1,2,False,Sánchez,4.50,4.60,5,747984
151,159,2,1,False,False,2,11,Chalobah,2,44,Chelsea,Chalobah,1,1,1,False,Chalobah,4.40,NaN,10,747984
152,326,3,1,False,False,2,11,Konaté,2,52,Liverpool,Konaté,6,1,6,False,Konaté,5.20,5.10,0,747984
153,255,4,1,False,False,2,11,Robinson,2,51,Fulham,Robinson,6,1,6,False,Robinson,5.10,NaN,0,747984
154,392,5,1,False,False,3,11,Barnes,3,59,Newcastle,Barnes,7,1,7,False,Barnes,6.40,6.20,4,747984
155,327,6,1,False,False,3,11,Luis Díaz,3,75,Liverpool,Luis Díaz,3,1,3,False,Luis Díaz,7.60,7.50,21,747984
156,182,7,1,False,False,3,11,Palmer,3,111,Chelsea,Palmer,2,1,2,False,Palmer,11.10,NaN,0,747984
157,328,8,1,False,True,3,11,M.Salah,3,137,Liverpool,M.Salah,14,1,14,False,M.Salah,13.70,NaN,0,747984
158,252,9,1,False,False,4,11,Raúl,4,56,Fulham,Raúl,5,1,5,False,Raúl,5.40,NaN,5,747984
159,351,10,2,True,False,4,11,Haaland,4,147,Man City,Haaland,5,2,10,False,Haaland,14.70,14.80,0,747984
160,148,11,1,False,False,4,11,Welbeck,4,55,Brighton,Welbeck,2,1,2,False,Welbeck,5.50,5.70,2,747984
161,154,12,0,False,False,1,11,Bergström,1,39,Chelsea,Bergström,0,0,0,True,Bergström,3.90,4.00,0,747984
162,505,13,0,False,False,2,11,Udogie,2,48,Spurs,Udogie,1,0,0,True,Udogie,4.80,4.90,0,747984
163,369,14,0,False,False,2,11,Dalot,2,50,Man Utd,Dalot,1,0,0,True,Dalot,5.00,5.00,4,747984
164,292,15,0,False,False,3,11,Golding,3,44,Leicester,Golding,0,0,0,True,Golding,4.40,NaN,0,747984
165,185,1,1,False,False,1,12,Sánchez,1,46,Chelsea,Sánchez,1,1,1,False,Sánchez,4.50,4.60,5,1771029
166,159,2,1,False,False,2,12,Chalobah,2,44,Chelsea,Chalobah,0,1,0,False,Chalobah,4.40,NaN,10,1771029
167,326,3,1,False,False,2,12,Konaté,2,52,Liverpool,Konaté,0,1,0,False,Konaté,5.20,5.10,0,1771029
168,255,4,1,False,False,2,12,Robinson,2,51,Fulham,Robinson,0,1,0,False,Robinson,5.10,NaN,0,1771029
169,392,5,1,False,False,3,12,Barnes,3,59,Newcastle,Barnes,1,1,1,False,Barnes,6.40,6.20,4,1771029
170,327,6,1,False,False,3,12,Luis Díaz,3,75,Liverpool,Luis Díaz,1,1,1,False,Luis Díaz,7.60,7.50,21,1771029
171,182,7,1,False,False,3,12,Palmer,3,111,Chelsea,Palmer,2,1,2,False,Palmer,11.10,NaN,0,1771029
172,328,8,1,False,True,3,12,M.Salah,3,137,Liverpool,M.Salah,13,1,13,False,M.Salah,13.70,NaN,0,1771029
173,252,9,1,False,False,4,12,Raúl,4,56,Fulham,Raúl,2,1,2,False,Raúl,5.40,NaN,5,1771029
174,351,10,2,True,False,4,12,Haaland,4,147,Man City,Haaland,2,2,4,False,Haaland,14.70,14.80,0,1771029
175,148,11,1,False,False,4,12,Welbeck,4,55,Brighton,Welbeck,2,1,2,False,Welbeck,5.50,5.70,2,1771029
176,154,12,0,False,False,1,12,Bergström,1,39,Chelsea,Bergström,0,0,0,True,Bergström,3.90,4.00,0,1771029
177,505,13,0,False,False,2,12,Udogie,2,48,Spurs,Udogie,6,0,0,True,Udogie,4.80,4.90,0,1771029
178,369,14,0,False,False,2,12,Dalot,2,50,Man Utd,Dalot,2,0,0,True,Dalot,5.00,5.00,4,1771029
179,292,15,0,False,False,3,12,Golding,3,44,Leicester,Golding,0,0,0,True,Golding,4.40,NaN,0,1771029
180,185,1,1,False,False,1,13,Sánchez,1,46,Chelsea,Sánchez,7,1,7,False,Sánchez,4.50,4.60,5,1668885
181,255,2,1,False,False,2,13,Robinson,2,51,Fulham,Robinson,2,1,2,False,Robinson,5.10,NaN,0,1668885
182,369,3,1,False,False,2,13,Dalot,2,50,Man Utd,Dalot,6,1,6,False,Dalot,5.00,5.00,4,1668885
183,505,4,1,False,False,2,13,Udogie,2,48,Spurs,Udogie,2,1,2,False,Udogie,4.80,4.90,0,1668885
184,392,5,1,False,False,3,13,Barnes,3,59,Newcastle,Barnes,2,1,2,False,Barnes,6.40,6.20,4,1668885
185,327,6,1,False,False,3,13,Luis Díaz,3,75,Liverpool,Luis Díaz,6,1,6,False,Luis Díaz,7.60,7.50,21,1668885
186,182,7,1,False,False,3,13,Palmer,3,111,Chelsea,Palmer,14,1,14,False,Palmer,11.10,NaN,0,1668885
187,328,8,2,True,False,3,13,M.Salah,3,137,Liverpool,M.Salah,13,2,26,False,M.Salah,13.70,NaN,0,1668885
188,148,9,1,False,False,4,13,Welbeck,4,55,Brighton,Welbeck,2,1,2,False,Welbeck,5.50,5.70,2,1668885
189,252,10,1,False,False,4,13,Raúl,4,56,Fulham,Raúl,2,1,2,False,Raúl,5.40,NaN,5,1668885
190,351,11,1,False,True,4,13,Haaland,4,147,Man City,Haaland,2,1,2,False,Haaland,14.70,14.80,0,1668885
191,154,12,0,False,False,1,13,Bergström,1,39,Chelsea,Bergström,0,0,0,True,Bergström,3.90,4.00,0,1668885
192,326,13,0,False,False,2,13,Konaté,2,52,Liverpool,Konaté,0,0,0,True,Konaté,5.20,5.10,0,1668885
193,159,14,0,False,False,2,13,Chalobah,2,44,Chelsea,Chalobah,2,0,0,True,Chalobah,4.40,NaN,10,1668885
194,292,15,0,False,False,3,13,Golding,3,44,Leicester,Golding,0,0,0,True,Golding,4.40,NaN,0,1668885
195,185,1,1,False,False,1,14,Sánchez,1,46,Chelsea,Sánchez,0,1,0,False,Sánchez,4.50,4.60,5,1607117
196,255,2,1,False,False,2,14,Robinson,2,51,Fulham,Robinson,6,1,6,False,Robinson,5.10,NaN,0,1607117
197,369,3,1,False,False,2,14,Dalot,2,50,Man Utd,Dalot,1,1,1,False,Dalot,5.00,5.00,4,1607117
198,505,4,1,False,False,2,14,Udogie,2,48,Spurs,Udogie,2,1,2,False,Udogie,4.80,4.90,0,1607117
199,159,5,1,False,False,2,14,Chalobah,2,44,Chelsea,Chalobah,6,1,6,False,Chalobah,4.40,NaN,10,1607117
200,392,6,1,False,False,3,14,Barnes,3,59,Newcastle,Barnes,1,1,1,False,Barnes,6.40,6.20,4,1607117
201,327,7,1,False,False,3,14,Luis Díaz,3,75,Liverpool,Luis Díaz,1,1,1,False,Luis Díaz,7.60,7.50,21,1607117
202,182,8,1,False,False,3,14,Palmer,3,111,Chelsea,Palmer,7,1,7,False,Palmer,11.10,NaN,0,1607117
203,328,9,2,True,False,3,14,M.Salah,3,137,Liverpool,M.Salah,18,2,36,False,M.Salah,13.70,NaN,0,1607117

In [ ]:
pd.set_option("display.max_rows", None)  # Show all rows
pd.set_option("display.max_columns", None)  # Show all columns
pd.set_option("display.width", None)  # Remove width restriction
pd.set_option("display.colheader_justify", "left")  # Adjust column alignment
pd.set_option("display.float_format", "{:.2f}".format)

In [ ]:
file_path = "FPL_Team_Analysis.csv"
final_df.to_csv(file_path, index=False)

print(f"Data saved to {file_path}")

Data saved to FPL_Team_Analysis.csv